---
layout: default
---

<section class="container">
	<p style="padding: .5em 0;">
		<span class="big">Intermediate Representation</span><br/>
		<span style="font-size: medium; ">
			如果翻译器对程序进行了彻底的分析而非某种机械的变换，而且生成的中间程序与源程序之间已经没有很强的相似性，我们就认为这个语言是编译的。彻底的分析和非平凡的变换，是编译方式的标志性特征。
			<br/>
			如果你对知识进行了彻底的分析而非某种机械的套弄，在你脑中生成的概念与生硬的文字之间已经没有很强的相似性，我们就认为这个概念是被理解的。彻底的分析和非凡的变换，是获得真知的标志性特征。
		</span>
	</p>
</section>
<div style="border-top: 1px solid #000; padding-bottom: 20px; display: block"></div>
<section class="container">
	<ul>
		{% for post in paginator.posts %}
		<li>
			<article>
				<h1><a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">{{ post.title }}</a></h1>
				<p class="date">Date :: {{ post.date | date: "%Y, %b %-d" }}</p>
				{% for cat in post.categories %}
				<a style="font-size: medium; border-bottom: none !important;" href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>
				{% endfor %}
				{% for keyword in post.keywords %}
				<span style="font-size: medium; opacity: .5">
					{{ keyword }}
				</span>
				{% endfor %}
				<div style="font-size: medium;" class="content">
					{{ post.content | strip_html | truncate: 100 }}
				</div>
			</article>
			{% comment %}
			<a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">{{ post.title }}</a>
				</h1>
				<div style="font-size: medium; text-indent: 2em;"  class="content">
                                        {{ post.content | strip_html | truncate: 512 }}
                                </div>
				<div class="article-meta">
					<span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>

					<img src="/assets/svg/file-directory.svg" class="icon-s">
					{% for cat in post.categories %}
						<a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>
					{% endfor %}
					{% for keyword in post.keywords %}
						<span style="/*font-size: medium;*/ ">{{ keyword }}</span>
					{% endfor %}
			{% endcomment %}
		</li>
		<br/>
		{% endfor %}
	</ul>

	<nav class="pagination">
		<div class="btn-group">
			{% if paginator.previous_page %}
				{% if paginator.previous_page == 1 %}
					<a href="/" class="btn btn-outline">&laquo;</a>
				{% else %}
					<a href="/page{{paginator.previous_page}}" class="btn btn-outline">&laquo;</a>
				{% endif %}
			{% else %}
				<a class="btn btn-outline inactive">&laquo;</a>
			{% endif %}
			&nbsp;
			{% if paginator.page == 1 %}
				<a class="inactive">1</a>
			{% else %}
				<a href="/">1</a>
			{% endif %}
			{% for count in (2..paginator.total_pages) %}
				:: {% if count == paginator.page %}
					<a class="inactive"> {{count}}</a>
				{% else %}
					<a href="/page{{count}}">
						{{count}}</a>
				{% endif %}
			{% endfor %}
			&nbsp;
			{% if paginator.next_page %}
				<a href="/page{{paginator.next_page}}" class="btn btn-outline">&raquo;</a>
			{% else %}
				<a class="btn btn-outline inactive">&raquo;</a>
			{% endif %}
		</div>
	</nav>
</section>






